name: Build Android APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            openjdk-17-jdk \
            git zip unzip \
            libffi-dev libssl-dev \
            build-essential

      - name: Remove GitHub preinstalled Android SDK/NDK (IMPORTANT)
        run: |
          unset ANDROID_HOME
          unset ANDROID_SDK_ROOT
          unset ANDROID_NDK
          unset ANDROID_NDK_HOME
          unset ANDROID_NDK_ROOT

      - name: Install Buildozer
        run: |
          pip install --upgrade pip
          pip install buildozer cython==0.29.36

      - name: Build APK
        run: |
          buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: kivy-apk
          path: bin/*.apk
